body {
  margin: 0;
  padding: 0px 0 0 0;
  box-sizing: border-box;
  font-family: "Gabriel Weiss' Friends Font";
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-container .login-form {
  width: 50%;
}

.container {
  padding: 40px 20px 0 20px;
}

.navbar-brand span {
  padding: 0 4px;
}
